<form action="/create" method="POST" accept-charset="UTF-8" >
  <label for="username">Username:</label>
  <input type="text">

  <label for="email">Email:</label>
  <input type="eamil">

  <label for="password">Password:</label>
  <input type="passowrd">

  <input type="submit" value="Create">
</form>